<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/vars.css"/>
    <link rel="stylesheet" href="../static/loginStyle.css"/>
    <link rel="icon" href="../static/icon.jpg"/>
    <title>订阅端</title>
</head>

<body>
<div class="register-page">
    <div class="io-t-client-platform-thp-data-sensor-subscription">
        物联网平台
        <br/>
        订阅端
    </div>
    <form method="post">
        <label for="ClientID" class="client-id">代理ID:</label>
        <input class="input-ClientID" type="text" placeholder="请输入代理ID" name="ClientID" id="ClientID"/>

        <label for="access_key_id" class="access-key-id">子账号ID:</label>
        <input class="input-AccessKeyID" type="text" placeholder="请输入子账号ID" name="access_key_id"
               id="access_key_id"/>

        <label for="access_secret" class="access-key-secret">子账号秘钥:</label>
        <input class="input-AccessKeySecret" type="password" placeholder="请输入子账号秘钥" name="access_secret"
               id="access_secret"/>

        <input class="rectangle-4" type="submit" value="订阅">
    </form>
    <div class="rectangle-6"></div>
    <div class="rectangle-7"></div>
    <div class="rectangle-62"></div>
    <div class="rectangle-5"></div>
</div>

<script>


</script>


</body>

</html>